@import "tailwindcss";

:root {
  --white: #fff;
  --text: #3b3b3b;
  --primary: #ff7b00;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --input-bg: #EEE;
  --input-color: #ACACAC
}

@theme inline {
  --white: #ffffff;
  --text: #3b3b3b;
  --primary: #ff7b00;
  --input-bg: #EEE;
  --input-color: #ACACAC
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

body {
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.button-glow:hover{
  filter: drop-shadow(0 0 10px var(--primary))
}