@import "tailwindcss";

:root {
  --white: #ffffff;
  --text: #3b3b3b;
  --primary: #ff7b00;
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@theme inline {
  --white: #ffffff;
  --text: #3b3b3b;
  --primary: #ff7b00;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}


body {
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-poppins);
}
